@page
@model RazorThree.Pages.ListRecipesModel
@{
}
<script type="text/javascript">
    const imgs = [];
    imgs[0] = 'https://images.unsplash.com/photo-1632431455870-65dd9cf75e0e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80';
    imgs[1] = 'https://images.unsplash.com/photo-1632436638809-f89272c90f64?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80';
    imgs[2] = 'https://images.unsplash.com/photo-1633378217782-cbee9b307853?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80';
    imgs[3] = 'https://images.unsplash.com/photo-1495195129352-aeb325a55b65?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80';
    imgs[4] = 'https://images.unsplash.com/photo-1495195134817-aeb325a55b65?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1776&q=80';
    imgs[5] = 'https://images.unsplash.com/photo-1619367302084-3d07eb49159f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80';

    window.onload = function () {
        const random = Math.floor(Math.random() * imgs.length);
        document.body.style.backgroundImage = `url(${imgs[random]})`;
    }
</script>
<body style="background: url('https://images.unsplash.com/photo-1614548539644-ef528186523a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
      height: auto;
      background-repeat: no-repeat;
      background-size: cover;
      padding-right:inherit;
      overflow-x:hidden;
      ">
    <div class="modal fade" id="@("l"+Model.singleRecipe.Id)" tabindex="-1" aria-labelledby="exampleTwoModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-success" id="exampleModalLabel">Edit recipe</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" asp-page-handler="update">
                    <div class="modal-body" style="max-height: 500px;overflow-y: scroll;">
                        <div class="mb-3">
                            <label for="newTitle" class="fw-bold col-form-label ">Title</label>
                            <div contentEditable="true">
                                <input class="border-0 " value="@Model.singleRecipe.Title" name="newTitle" />
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="floatingTextarea2" class="fw-bold col-form-label">Ingredients</label>
                            <textarea class=" form-control h-100" name="ingredients" rows="@(Model.singleRecipe.Ingredients.Count)" id="floatingTextarea2">
                                @{
                                    int p = 0;
                                }
                                @foreach (var ing in Model.singleRecipe.Ingredients)
                                {
                                    if (p == 0)
                                    {
                                        p = 1;
                                    }
                                    else
                                    {
                                        @("\n")
                                    }
                                    @("• " + @ing)
                                }
                                        </textarea>
                        </div>
                        <div class="mb-3">
                            <label for="floatingTextarea3" class="fw-bold col-form-label">Instructions</label>
                            <textarea height="400" class=" form-control " name="instructions" rows="@(Model.singleRecipe.Instructions.Count +5)" id="floatingTextarea3">
                                @{
                                    int o = 0;
                                }
                                @foreach (var ins in Model.singleRecipe.Instructions)
                                {
                                    if (o == 0)
                                    {
                                        o = 1;
                                    }
                                    else
                                    {
                                        @("\n")
                                    }
                                    @("• " + @ins)
                                }
                                        </textarea>
                        </div>
                        <label class="fw-bold">Categories</label><br>
                        @{
                            int pp = 0;
                        }
                        @foreach (var category in Model.categ)
                        {
                            <div class="form-check form-switch text-start">
                                <input name="categories" value="@category.Name" type="checkbox" id="@("flex" + @pp)" @if (Model.singleRecipe.Categories.Contains(category.Name)) { <text> checked</text>
                            }>
                                <label class="form-check-label" for="@("flex" + @pp++)">@category.Name</label>
                            </div>
                        }
                    </div>
                    <div class="modal-footer">
                        <button type="submit" name="id" value="@Model.singleRecipe.Id" class="btn btn-primary" data-bs-dismiss="modal">Edit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form method="post">
                    <div class="modal-header">
                        <h5 class="modal-title text-success" id="exampleModalLabel">Create your own recipe</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" style="max-height: 500px;overflow-y:scroll;">
                        <div class="mb-3">
                            <label style="width : 100%; " class="col-form-label col-2 fw-bold " for="createRecipeTitle">Title</label>
                            <div class="col-7">
                                <input id="createRecipeTitle" x-model="newRecipe.title" class=" form-control h-100" placeholder="Enter the title..." />
                            </div>
                        </div>
                        <div class="my-3 row ">
                            <label style="width : 100%; " class="col-form-label col-2 fw-bold " for="createRecipeIngredients">Ingredients</label>
                            <div class="col-7">
                                <textarea class="border form-control" style="width: 470px;" asp-for="newRecipe.Ingredients" placeholder="Enter a dash before each ingredient..." id="ingredients" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="my-3 row">
                            <label style="width :100%; " class="col-form-label col-2 fw-bold " for="createRecipeIngredients">Instructions</label>
                            <div class="col-7">
                                <textarea class="border form-control" style="width: 470px;" asp-for="newRecipe.Instructions" placeholder="Enter a dash before each instruction..." id="instructions" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="mb-3">
                            <strong>
                                <label class="fw-bold">Categories</label><br>
                            </strong>
                            @foreach (var c in Model.categ)
                            {
                                <input type="checkbox" id="title" name="data" value="@c.Name">
                                <label for="title">@c.Name</label>
                                <br>
                            }
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" id="button" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="display-2 font-weight-bold mb-3">
        <a style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
            </svg>
        </a>
        Recipes
    </div>
    <br>
    <div id="carouselExampleIndicators" class="carousel slide container" data-interval="false" style="
  width:640px;
  height:360px;background-color: transparent;outline-color:transparent;outline:none;">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <button class="border-0" style="background-color:#d4e6da;" data-bs-toggle="modal" data-bs-target="#@("k"+Model.singleRecipe.Id)">
                    <img src="https://cdn.crispedge.com/d4e6d9.png" class="d-block w-100" alt="...">
                    <div class="card-img-overlay display-6 font-weight-bold mb-3 text-center" style="top:30%;">
                        @Model.singleRecipe.Title

                        <div style="font-size:20px;align-content:center;">
                            @foreach (var categoryItem in Model.singleRecipe.Categories)
                            {
                                <span style="text-align:left; background-color:#00008B" class="badge mb-2 mx-1" value="@categoryItem">@categoryItem</span>
                            }
                        </div>
                    </div>
                    <ul class="carousel-ul" style="position: absolute;align-content:center;top:60%; transform:translateX(185%);">
                        <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#@("l"+Model.singleRecipe.Id)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                            </svg>
                        </a>
                        <a class="btn btn-danger" data-bs-toggle="modal" :data-bs-target="'#deleteModal' + recipe.id">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                            </svg>
                        </a>
                    </ul>
                </button>
                <div class="text-left modal fade" id="@("k"+Model.singleRecipe.Id)" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-scrollable">
                        <div class="modal-content">
                            <form>
                                <div class="modal-header">
                                    <h5 class="modal-title text-success" id="exampleModalLabel">Recipe details</h5>
                                </div>
                                <div class="modal-body" style="max-height: 500px;overflow-y: scroll;">
                                    <div class="mb-3">
                                        <label for="recipient-name" class="fw-bold">Title</label>
                                        <br>
                                        <input class="border-0" type="text" id="recipient-name" readonly="readonly" value="@Model.singleRecipe.Title">
                                    </div>
                                    <div class="mb-3">
                                        <label for="message-text" class="fw-bold col-form-label">Ingredients</label>
                                        <ul name="oooo">
                                            @foreach (var ingredient in Model.singleRecipe.Ingredients)
                                            {
                                                <li name="message-text"> @ingredient </li>
                                            }
                                        </ul>
                                    </div>
                                    <div class="mb-3">
                                        <label for="message-text" class="fw-bold col-form-label">Instructions</label>
                                        <ul>
                                            @foreach (var instruction in Model.singleRecipe.Instructions)
                                            {
                                                <li name="message-text"> @instruction </li>
                                            }
                                        </ul>
                                    </div>
                                    <div class="mb-3">
                                        <label for="message-text" class="fw-bold col-form-label">Categories</label>
                                        <ul>
                                            @foreach (var category in Model.singleRecipe.Categories)
                                            {
                                                <li name="message-text"> @category </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            @foreach (var recipe in Model.recipesList)
            {
                <div class="carousel-item">
                    <button class="border-0" style="background-color:#d4e6da;" data-bs-toggle="modal" data-bs-target="#@("m"+recipe.Id)">
                        <img src="https://cdn.crispedge.com/d4e6d9.png" class="d-block w-100" alt="...">
                        <div class="card-img-overlay display-6 font-weight-bold mb-3 text-center" style="top:30%;">
                            @recipe.Title
                            <div style="font-size:20px;align-content:center;top:50%;">
                                @foreach (var categoryItem in recipe.Categories)
                                {
                                    <span style="text-align:left; background-color:#00008B" class="badge mb-2 mx-1" value="@categoryItem">@categoryItem</span>
                                }
                            </div>
                        </div>
                        <ul class="carousel-ul" style="position: absolute;align-content:center;top:60%; transform:translateX(185%);">
                            <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#@("l"+recipe.Id)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                                </svg>
                            </a>
                            <a class="btn btn-danger" data-bs-toggle="modal" :data-bs-target="'#deleteModal' + recipe.id">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                </svg>
                            </a>
                        </ul>
                    </button>
                    <div class="modal fade" id="@("l"+recipe.Id)" tabindex="-1" aria-labelledby="exampleTwoModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title text-success" id="exampleModalLabel">Edit recipe</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <form method="post" asp-page-handler="update">
                                    <div class="modal-body" style="max-height: 500px;overflow-y: scroll;">
                                        <div class="mb-3">
                                            <label for="newTitle" class="fw-bold col-form-label ">Title</label>
                                            <div contentEditable="true">
                                                <input class="border-0 " value="@recipe.Title" name="newTitle" />
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <label for="floatingTextarea2" class="fw-bold col-form-label">Ingredients</label>
                                            <textarea class=" form-control h-100" name="ingredients" rows="@(recipe.Ingredients.Count)" id="floatingTextarea2">
                                                @{
                                                    int pTwo = 0;
                                                }
                                                @foreach (var ing in recipe.Ingredients)
                                                {
                                                    if (pTwo == 0)
                                                    {
                                                        pTwo = 1;
                                                    }
                                                    else
                                                    {
                                                        @("\n")
                                                    }
                                                    @("• " + @ing)
                                                }
                                        </textarea>
                                        </div>
                                        <div class="mb-3">
                                            <label for="floatingTextarea3" class="fw-bold col-form-label">Instructions</label>
                                            <textarea height="400" class=" form-control " name="instructions" rows="@(recipe.Instructions.Count +5)" id="floatingTextarea3">
                                                @{
                                                    int oTwo = 0;
                                                }
                                                @foreach (var ins in recipe.Instructions)
                                                {
                                                    if (oTwo == 0)
                                                    {
                                                        oTwo = 1;
                                                    }
                                                    else
                                                    {
                                                        @("\n")
                                                    }
                                                    @("• " + @ins)
                                                }
                                        </textarea>
                                        </div>
                                        <label class="fw-bold">Categories</label><br>
                                        @{
                                            int ppTwo = 0;
                                        }
                                        @foreach (var category in Model.categ)
                                        {
                                            <div class="form-check form-switch text-start">
                                                <input name="categories" value="@category.Name" type="checkbox" id="@("flex" + @ppTwo)" @if (recipe.Categories.Contains(category.Name)) { <text> checked</text>
}>
                                                <label class="form-check-label" for="@("flex" + @ppTwo++)">@category.Name</label>
                                            </div>
                                        }
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" name="id" value="@recipe.Id" class="btn btn-primary" data-bs-dismiss="modal">Edit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="text-left modal fade" id="@("m"+recipe.Id)" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg modal-dialog-scrollable">
                            <div class="modal-content">
                                <form>
                                    <div class="modal-header">
                                        <h5 class="modal-title text-success" id="exampleModalLabel">Recipe details</h5>
                                    </div>
                                    <div class="modal-body" style="max-height: 500px;overflow-y: scroll;">
                                        <div class="mb-3">
                                            <label for="recipient-name" class="fw-bold">Title</label>
                                            <br>
                                            <input class="border-0" type="text" id="recipient-name" readonly="readonly" value="@recipe.Title">
                                        </div>
                                        <div class="mb-3">
                                            <label for="message-text" class="fw-bold col-form-label">Ingredients</label>
                                            <ul name="oooo">
                                                @foreach (var ingredient in recipe.Ingredients)
                                                {
                                                    <li name="message-text"> @ingredient </li>
                                                }
                                            </ul>
                                        </div>
                                        <div class="mb-3">
                                            <label for="message-text" class="fw-bold col-form-label">Instructions</label>
                                            <ul>
                                                @foreach (var instruction in recipe.Instructions)
                                                {
                                                    <li name="message-text"> @instruction </li>
                                                }
                                            </ul>
                                        </div>
                                        <div class="mb-3">
                                            <label for="message-text" class="fw-bold col-form-label">Categories</label>
                                            <ul>
                                                @foreach (var category in recipe.Categories)
                                                {
                                                    <li name="message-text"> @category </li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev" data-bs-interval="false">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next" data-bs-interval="false">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</body>